{% if image_list %}
<ul>
    {% for image in image_list %}
        {% if image.img_opt %}
        <img src="/filters{{ image.img_src.url }}" width="100"><a href="/filters{{ image.img_src.url }}" download="{{ image.img_src_name }}">{{ image.img_src_name }}</a>
        <img src="/filters{{ image.img_opt.url }}" width="100"><a href="/filters{{ image.img_opt.url }}" download="{{ image.img_opt_name }}">{{ image.img_opt_name }}</a>
        {{ image.date|date:"Y-m-j H:i:s" }}<br>
        {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>変換履歴はありません</p>
{% endif %}
<a href="{% url 'filters:index' %}">トップへ</a>