{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'filters/style.css' %}">

<h1>{{ filter.filter_name }}</h1>
<!--
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
-->
<form action="{% url 'filters:apply' filter.filter_name %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="フィルタ適用">
</form>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<!------------>