{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% if sessioninfo.username %} <!-- ログイン済か -->
<a href="{% url 'filters:logout' %}">Logout</a>
<a href="{% url 'filters:leavecheck' %}">退会する</a>
<h1>ようこそ、{{ sessioninfo.username }}さん！</h1>
{% else %}
<a href="{% url 'filters:signup' %}">Sign Up</a>
<br>
<a href="{% url 'filters:login' %}">Login</a>

{% endif %}
<p>フィルタを選んでください。</p>

{% if filter_list %}
    <ul>
    {% for filter in filter_list %}
        <li><a href="{% url 'filters:detail' filter.id %}">{{ filter.filter_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>利用できるフィルターはありません</p>
{% endif %}